html{
    height: 100vh;
    width: 100vw;
}
h1{
    color: cyan;
    background-color: crimson;
    text-align: center; 
    text-decoration:line-through;
    text-transform: uppercase;
    font-size: 50px;
}
div{
    font-weight: bolder;
    letter-spacing: 2px;
    word-spacing: 10px;
}
article{
    font-family: sans-serif;
}
p{
    text-indent: 50px;
}
pre{
    height: 50px;
    width: 250px;
    border: 2px solid green;
    border-top-left-radius:10px ;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius: 30px; 
    text-shadow: 5px 10px 0.9px red;
    box-shadow: 5px 10px 0.9px red;
}