h1{
    background-color: crimson;
    color: white;
}
h2{
    background-color: purple;
    color: #fff;
}
#head{
    background-color: gold;
    color: black;
}
#head2{
    color: gold;
}

.demo{
    color: blue;
}

pre,div,h5{
    background-color: teal;
}

*{
    color: red;
    border: solid;
}
#head{
    color: blue;
    border: 2px solid;
}
h2{
    color: gold;
}